# unconventional js
addons/*/blueprints/*/files/
addons/*/blueprints/controller/
addons/*/blueprints/controller-test/
addons/*/blueprints/route/
addons/*/blueprints/route-test/
addons/*/blueprints/edition-detector.js
addons/*/blueprints/test-framework-detector.js
apps/*/blueprints/*/files/
apps/*/blueprints/controller/
apps/*/blueprints/controller-test/
apps/*/blueprints/route/
apps/*/blueprints/route-test/
apps/*/blueprints/edition-detector.js
apps/*/blueprints/test-framework-detector.js
engines/*/blueprints/*/files/
engines/*/blueprints/controller/
engines/*/blueprints/controller-test/
engines/*/blueprints/route/
engines/*/blueprints/route-test/
engines/*/blueprints/edition-detector.js
engines/*/blueprints/test-framework-detector.js
apps/*/ios/
apps/*/android/

# dependencies
/node_modules/

# misc
/coverage/
!.*
.eslintcache
yarn-error.log
/apps/*/DEBUG
/apps/*/dist/
/apps/*/dist-*
/apps/*/tmp/
/apps/*/node_modules/
/apps/*/vendor/
/apps/*/public/
/engines/*/DEBUG
/engines/*/dist/
/engines/*/dist-*
/engines/*/tmp/
/engines/*/node_modules/
/engines/*/vendor/
/engines/*/public/
/addons/*/DEBUG
/addons/*/dist/
/addons/*/dist-*
/addons/*/tmp/
/addons/*/node_modules/
/addons/*/vendor/
/addons/*/public/
.lint-todo

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
